@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.results-block {
  display: inline-block;
}

.alert {
  padding-right: 2.25rem;
}

.close {
  right: 0.75rem;
  position: absolute;
}