@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 2rem;
}

.results-block {
  display: inline-block;
}

.alert {
  padding-right: 2.25rem;
}

.close {
  right: 0.75rem;
  position: absolute;
}

.user-name {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.friends-table {
  margin-top: 2rem;
}